table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 98%;
    text-align: center;
    border-radius: 12px;
    font-size: large;
}

td, th {
    border: 1px solid indianred;
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: rgba(255,255,255, 0.45);
}

.selectVw{
    padding: 7px 12px 7px;
    font-size: 15px;
    cursor:pointer;
    background-color:crimson;
    border-radius: 8px;
    color: white;
}
.viewVw{
    padding: 7px 12px 7px;
    font-size: 15px;
    cursor:pointer;
    background-color:crimson;
    border-radius: 8px;
}
.qbR{
    z-index: 2;
    background-image: linear-gradient(to bottom left, mediumpurple, white,plum);
}
.qbL{
    z-index: 2;
    background-image: linear-gradient(to bottom right, mediumpurple, white,plum);
}
.postFtr{
    position: fixed;
    padding-top: 8px;
    padding-bottom: 8px;
    background-image: linear-gradient(to bottom left, mediumpurple, white, plum);
    border-radius: 6px;
    vertical-align: bottom;
    top: auto;
    bottom: 0;
    float: bottom;
    width:50%;
    text-align: center;
}
.postScore{
    padding: 7px 12px 7px;
    font-size: 15px;
    cursor:pointer;
    background-color:mediumvioletred;
    color: white;
    border-radius: 8px;
}